    .imagem {
        width: 10rem;
        border: 3px solid #2c3e50;
        border-radius: 6rem;
        transition: 2s;
    }
    
    .imagem:hover {
        width: 10rem;
        border: 3px solid #c0392b;
        border-radius: 6rem;
        transition: 1s;
    }
    
    .gradient-lua {
        background: linear-gradient(45deg, #2d3436, #192a56, #273c75, #7f8fa6);
        background-size: 300% 300%;
        animation: colors 10s ease infinite;
    }
    
    .gradient-sol {
        background: linear-gradient(45deg, #c0392b, #e74c3c, #cd8d7b, #d67316);
        background-size: 300% 300%;
        animation: colors 10s ease infinite;
    }
    
    .bg-footer-lua {
        background: #192a56;
    }
    
    @keyframes colors {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;
        font-family: "Poppins", sans-serif;
    }
    
    .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #2a2c39;
    }
    
    button {
        background: #c0392b;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }
    
    .shadow {
        box-shadow: 3px 3px rgb(0, 0, 0), -1em 0 0.4em rgb(20, 20, 19);
        padding: 2rem;
    }
    
    .botao {
        background: transparent;
    }
    
    .hover:hover {
        font-size: 2.7rem;
        transition: 1s;
    }
    
    .hover {
        transition: 1s;
    }